' To confirm and link your email #{@user.email} to your brand-new Paperboard account, please click the link below:
= "\n\n"
= @url
= "\n\n"
' If you click the link and it appears to be broken, please copy and paste it into a new browser window.
= "\n\n"
= "\n\n"
' Yours sincerely,
= "\n\n"
' Paperboard team