| To confirm and link your email #{@user.email} to your brand-new Paperboard account, please click the link below:

#{@url}

| If you click the link and it appears to be broken, please copy and paste it into a new browser window.

| Thanks for using Paperboard!

| Yours sincerely,

| Paperboard team