' Dear #{@user.first_name},
= "\n\n"
' Use the following link within the next 24 hours to reset your password:
= "\n\n"
= @url
= "\n\n"
' If you continue to have issues with your password, see Paperboard FAQ for help.
= "\n\n"
' Thanks,
= "\n\n"
' Paperboard team