html, body {
  font-family: $base-font-family;
  color: $color-black;
}

body {
  overflow-y: scroll;
}

.frame {
  max-width: 1200px;
  min-width: 980px;
  margin: 0 auto;
  padding: 0 $grid-gutter;

  &.top-margin {
    margin-top: 25px;
  }
}