$color-primary: #2b5279;
$color-red: #D44A4A;
$color-orange: #F77053;
$color-yellow: #F3B150;
$color-green: #69C284;

$color-button-primary: #2b5279;

$color-black: #2e3339;
$color-dark: #232B2D;
$color-grey-light: #EBEFF0;
$color-grey-dark: #ABB5BD;