#app {

  h1, h2 {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  h1 {
    font-family: $proxima-condensed;
    font-size: 2em;
    font-weight: 300;
  }

  h2 {
    font-family: $proxima-condensed;
    font-size: 1.5em;
    font-weight: 300;
  }
}