.ui {

  &.tbl {
    border-radius: 5px;

    .head {
      position: relative;
      height: 35px;
      line-height: 35px;
      background: #EEE;
      padding: 0 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 1px solid #AAA;
      font-weight: bold;
      color: #333;

      .button {
        font-size: 0.8em;
        position: absolute;
        top: 4px;
        right: 4px;
        padding: 0 8px;
        height: 26px;
        line-height: 26px;
        background-color: $color-button-primary;
        color: #FFF;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid $color-green;
        @include background-image(linear-gradient(top, lighten($color-green, 10%), $color-green));
      }
    }
  }
}

table.ui {
  width: 100%;
  border: 1px solid #CFCFCF;
  border-radius: 5px;
  border-collapse:separate;
  overflow:hidden;

  th, tr, td {
    border-collapse: collapse;
  }

  thead, tfoot {

    th {
      padding: 15px 10px;
      border-bottom: 1px solid #CFCFCF;
      background-color: #F5F5F5;
      font-weight: bold;
    }
  }

  tbody {

    tr {

      td {
        padding: 15px 10px;
        border-bottom: 1px solid #CFCFCF;

        &.center {
          text-align: center;
        }

        &.right {
          text-align: right;
        }

        input[type="submit"] {
          @extend %button;
          padding: 7px 12px;
        }

        a {
          color: $color-primary;
          font-weight: 600;
          text-decoration: none;
        }
      }

      &:nth-child(even) {
        background-color: #F9F9F9;
      }

      &:nth-child(odd) {
        background-color: #FFF;
      }

      &:last-child td {
        border-bottom: 0;
      }
    }
  }
}