#forms {
  $radius: 5px;

  background-color: #363F49;
  line-height: 1.4em;
  color: $color-black;
  color: #8894A2;

  #wrapper {
    position: relative;
    background-color: #FFF;
    max-width: 450px;
    margin: 70px auto;
    border-radius: $radius;
    box-shadow: 0 3px 2px rgba(0,0,0,0.1);

    header {
      $bg: #F4F5F7;

      position: relative;
      z-index: 1;
      background-color: $bg;
      padding: 30px;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;

      &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-top-color: $bg;
        border-width: 13px;
        margin-left: -13px;
      }

      .logo {
        position: relative;
        width: 120px;
        height: 120px;
        display: block;
        margin: -91px auto 21px;
        background: $color-black;
        border-radius: 120px;
        border: 5px solid #FFF;
        box-shadow: 0 1px 2px rgba(0,0,0,0.14);

        &:after {
          $size: 66px;
          content: " ";
          width: $size;
          height: $size;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: - $size / 2;
          margin-top: - $size / 2;
          background: image-url("logo-coming-soon.png") no-repeat center center;
          background-size: contain;
        }

        &.is-icon {
          text-align: center;

          &:after {
            display: none;
          }

          i {
            font-size: 4em;
            display: block;
            margin-top: 20px;
          }
        }
      }

      h1 {
        font-size: 2em;
        font-weight: 300;
        line-height: 1;
        text-align: center;
        color: #575A5F;
      }
    }

    .content {
      padding: 40px;

      h1 {
        font-size: 2em;
        font-weight: 300;
        line-height: 1.2;
        color: #575A5F;
        margin-bottom: 20px;
      }
    }
  }

  h2 {
    font-family: $proxima-condensed;
    font-weight: 300;
    font-size: 2.6em;
    margin-bottom: 30px;
  }

  p {
    font-size: 0.95em;
    line-height: 1.8;
    margin: 0 0 20px;

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      font-weight: 700;
    }

    .underline {
      color: $color-button-primary;
      text-decoration: underline;
    }
  }

  .message {
    padding: 17px 10px 15px;
    font-size: 0.95em;
    line-height: 1.8;
    color: #FFF;
    text-align: center;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);

    &.alert {
      background: $color-red;
    }

    &.success {
      background: $color-green;
    }
  }

  hr {
    border: 0;
    height: 1px;
    border-top: 1px dotted #AAA;
    margin: 20px 0;
  }

  a {
    color: $color-button-primary;
  }

  .errors {
    border: 1px solid $color-button-primary;
    padding: 10px 14px;
    margin-bottom: 20px;
    background-color: lighten($color-button-primary, 62%);
    border-radius: 4px;

    h3 {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 8px;
    }

    ul {
      font-size: 0.9em;
    }
  }

  .field {
    margin: 0 0 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      display: block;
      font-size: 0.8em;
      color: #BBB;
      text-transform: uppercase;
    }

    input[type="text"], input[type="password"], input[type="email"] {
      border: 2px solid #D7D7D7;
      padding: 13px 10px;
      font-size: 1em;
      width: 100%;
      border-radius: 4px;

      & + p {
        font-size: 0.75em;
        a {
          color: #AAA;
        }
      }
    }

    input[type="submit"], .button {
      @include single-transition(background-color, 0.2s);
      border: 0;
      border-radius: 4px;
      font-size: 1.1em;
      letter-spacing: 1px;
      background: #7AA7E0;
      color: white;
      padding: 16px 22px;
      margin: 10px 0 3px;
      width: 100%;
      display: block;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background: darken($color-button-primary, 4%);
      }
    }

    .group {

      input {
        border-radius: 0;
        border-bottom: 0;

        &:first-of-type {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:last-of-type {
          border-bottom: 2px solid #D7D7D7;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }

    .with-icon {
      position: relative;

      .fa {
        position: absolute;
        top: 0;
        left: 15px;
        color: #C6C6C6;
        width: 20px;
        height: 100%;
        text-align: center;
        line-height: 45px;

        &.fa-envelope {
          font-size: 0.9em;
        }
      }

      input {
        padding-left: 45px;
      }
    }

    &.note {
      @extend %clear;

      p {
        font-size: 0.9em;
        margin: 0;

        &.left {
          float: left;
        }

        &.right {
          float: right;
        }

        a {
          color: #8894A2;
          text-decoration: none;

          &:hover {
            border-bottom: 1px dotted #8894A2;
          }
        }
      }
    }

    .field_with_errors {

      input[type="text"], input[type="password"], input[type="email"] {
        border: 1px solid #fe5956;
        background-color: #ffdfde;
      }

    }
  }
}
