#project {

  .frame > header {
    @extend %clear;
    border-bottom: 2px solid $color-grey-light;
    margin-bottom: 30px;

    h1 {
      float: left;
    }

    .actions {
      float: right;

      li {
        display: inline-block;

        a {
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 30px;
          border: 2px solid $color-grey-dark;
          color: $color-grey-dark;
          text-align: center;
          font-size: 16px;
          padding-top: 5px;

          i {
            vertical-align: middle;
          }

          &:hover {
            color: darken($color-grey-dark, 20%);
            border-color: darken($color-grey-dark, 20%);
          }
        }
      }
    }
  }
}