.content {
  padding-left: 20px;

  h2 {
    border-bottom: 2px solid $color-black;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 1;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 23px;
    color: $color-black;
    text-align: center;

    & + h3 {
      text-align: center;
      margin: -20px 0 30px;
      color: #AAA;
    }
  }
}