body {
  $header-height: 50px;

  padding-top: $header-height;

  #header {
    @extend %antialias;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-dark;
    color: #FFF;
    height: $header-height;

    .frame {
      height: 100%;
    }

    .logo {
      float: left;
      font-size: 20px;
      margin-top: 8px;
      font-weight: 600;

      a {
        @extend %text-indent;
        color: #FFF;
        display: block;
        text-decoration: none;
        width: 26px;
        height: 31px;
        background: image-url("logo-header.png");
      }
    }

    .search {
      float: left;
      margin: 0 $grid-gutter;
      padding: 0 $grid-gutter;
      border-left: 2px solid rgba(255,255,255,0.1);
      border-right: 2px solid rgba(255,255,255,0.1);
      height: 100%;

      input {
        border: 0;
        background-color: rgba(255,255,255,0.9);
        font-family: $base-font-family;
        color: $color-black;
        padding: 0 8px;
        border-radius: 3px;
        margin-top: 11px;
        font-size: 14px;
        height: 29px;
      }
    }

    .menu {
      float: left;
      line-height: $header-height;

      li {
        display: inline-block;

        a {
          @extend %antialias;
          color: #FFF;
          font-size: 14px;
          text-decoration: none;
          font-weight: bold;
          display: block;
          height: 100%;
          margin-right: 10px;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    .settings {
      float: right;
      height: 100%;
      position: relative;
      margin-right: -$grid-gutter;

      > .user {
        display: block;
        font-size: 13px;
        line-height: 27px;
        padding: 12px 15px 0;
        height: 100%;
        color: #FFF;
        text-decoration: none;

        &:hover {
          background-color: rgba(0,0,0,0.1);
        }

        img {
          float: right;
          width: 25px;
          height: 25px;
          border-radius: 6px;
          margin-left: 7px;
        }
      }

      > ul {
        display: none;
        position: absolute;
        background-color: #EEE;
        right: 0;
        top: $header-height + 1;
        width: 100%;
        border-right: 1px solid #CCC;
        border-left: 1px solid #CCC;

        li {
          border-bottom: 1px solid #CCC;

          a {
            display: block;
            font-size: 13px;
            color: $color-black;
            text-decoration: none;
            padding: 10px 30px 10px 15px;

            &:hover {
              background-color: #FAFAFA;
            }
          }
        }
      }
    }

    &.with-menu {

      .settings {

        > .user {
          background-color: rgba(0,0,0,0.1);
        }

        > ul {
          display: block;
          z-index: 2;
        }
      }
    }
  }
}