#app {
  $header-height: 50px;

  padding-top: $header-height;



  header {
    height: $header-height;
    background: #EEE;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  #wrapper {
  position: relative;
  }
}